<!DOCTYPE html>
<html>
	<head>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "/stylesheets/home.css">
		<link href="https://fonts.googleapis.com/css2family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" 
			  rel="stylesheet">
		<script src="https://kit.fontawesome.com/4191db111f.js" crossorigin="anonymous"></script>
		<title>Expense Logger</title>
	</head>
	<body>
		