<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<div class = "container expense">
	<h2>Expense Details</h2>
	<form action = "/expenses" method = "POST" enctype = "multipart/form-data">
		<div class = "form-group row">
			<label for = "title" class = "col-sm-4 col-form-label">Expense Title :</label>
			<div class = "col-sm-8">
				<input class = "form-control"  id = "title" type = "text" name = "expense[title]" 
				   placeholder="Expense Title (max 36 characters)" maxlength="36" required>	
			</div>
		</div>
		<div class = "form-group row">
			<label for = "total" class = "col-sm-4 col-form-label">Total Amount ($) :</label>
			<div class = "col-sm-8">
				<input class = "form-control"  id = "total" type = "number" name = "expense[total]" 
					   placeholder="Total Price in $" step = "0.01" min = "0.01" max = "99999999.99" required>
			</div>
		</div>
		
		<div class = "form-group row">
			<label for = "location" class = "col-sm-4 col-form-label">Purchase Location :</label>
			<div class = "col-sm-8">
				<input class = "form-control"  id = "location" type = "text" name = "expense[location]" 
				   placeholder="123 Main,dallas,tx (Max 45 chars)" maxlength = "45" required>	
			</div>
		</div>
		<div class = "form-group row">
			<label for="transactionDate" class = "col-sm-4 col-form-label">Transaction Date :</label>
			<div class = "col-sm-8">
				<input class = "form-control"  id = "transactionDate" type = "Date" name = "expense[transactionDate]" 
				   max = <%= today %> required>	
			</div>
		</div>
		<div class = "form-group row">
			<label for="memo" class = "col-sm-4 col-form-label">Memo :</label>
			<div class = "col-sm-8">
				<input class = "form-control" id = "memo" type = "text" name = "expense[memo]" 
					   placeholder="short description (Max 45 chars)" maxlength = "45" required>
			</div>
		</div>
		<div class = "form-group row">
			<label for="receipt" class = "col-sm-4 col-form-label">Upload Receipt :</label>
			<div class = "col-sm-8">
				<input id = "receipt" type = "file" name = "receipt" accept="application/pdf">
			</div>
		</div>
		
		<button type = "submit" id = "register-submit" class = "btn btn-lg btn-outline-light btn-block">SUBMIT</button>
		<a class = "link" href = "/expenses">Go Back</a>
	</form>
</div>

<%- include("../partials/footer") %>